.custom_product-tool-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
        background-color: white;
        border: none;
    }

    i {
        padding: 10px;
        cursor: pointer;
    }
}

.custom_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}