<section class="custom_product-tool-bar">
    <div>
        <button type="button" (click)="gridView()"><i class="fas fa-th-large"></i></button>
        <button type="button" (click)="listView()"><i class="fas fa-bars"></i></button>
        
    </div>
</section>

<section class="custom_wrapper">
    <h2 *ngIf="showLoader">Data Loading...</h2>
    <ng-container *ngFor="let product of productList">
        <app-product-card [productItem]="product" [viewOption]="viewMode"></app-product-card>
    </ng-container>
</section>