<section class="custom_product-tool-bar">
    <div>
        <button type="button" (click)="gridView()"><i class="fas fa-th-large"></i></button>
        <button type="button" (click)="listView()"><i class="fas fa-bars"></i></button>
    </div>
    <div>
        <select (change)="sortProductByPrice($event.target.value)">
            <option disabled selected>Sort Product</option>
            <option value="lowtohigh">Sort by Price Low To High</option>
            <option value="hightolow">Sort by Price High To Low</option>
        </select>
    </div>
</section>

<section class="custom_wrapper">
    <h2 *ngIf="showLoader">Data Loading...</h2>
    <ng-container *ngFor="let product of productList">
        <app-product-card [productItem]="product" [viewOption]="viewMode"></app-product-card>
    </ng-container>
</section>