<button type="button" (click)="sortAsc()">Sort Data In Ascending</button>
<button type="button" (click)="sortDesc()">Sort Data In Descending</button>
<button type="button" (click)="sortByUserName()">Sort By Username</button>
<button type="button" (click)="sortByEmail()">Sort By Email</button>
<table>
    <thead>
        <tr>
            <th *ngFor="let item of tableHeader">{{item}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gridItem of gridDataList">
            <td>{{gridItem.id}}</td>
            <td>{{gridItem.name}}</td>
            <td>{{gridItem.username}}</td>
            <td>{{gridItem.email}}</td>
        </tr>
    </tbody>
</table>